@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

audio {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}

.wel {
  background: #191919;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 11;
}

.wel .wel-text {
  color: #FF5456;
  font-size: 3.5rem;
  text-align: center;
}

.wel .wel-text .hide-header {
  letter-spacing: 1px;
  font-weight: 100;
  overflow: hidden;
}

.wel .wel-text .hide-header .text-header {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
  text-transform: uppercase;
}

.wel .wel-text .hide-header:nth-child(2) {
  margin: 25px 0px;
}

.slider-go-left {
  background: #333;
  position: fixed;
  top: 0;
  left: 0%;
  width: 50%;
  height: 100%;
  z-index: 10;
}

.slider-go-right {
  background: #333;
  position: fixed;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: 10;
}

main {
  opacity: 0;
  height: 100vh;
  width: 100%;
  -webkit-animation: zoom 1s ease-out 6.5s forwards;
          animation: zoom 1s ease-out 6.5s forwards;
}

main section.hero {
  background: #000;
  width: 100vw;
  height: inherit;
  position: relative;
}

main section.hero .hero-video {
  width: 100%;
  height: 100%;
  position: relative;
}

main section.hero .hero-video video {
  width: 100%;
  height: inherit;
}

main section.hero .hero-video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.7;
}

main section.hero .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 72px;
  width: 80%;
  z-index: 5;
}

main section.hero .hero-text h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

main section.hero .hero-text h1 span {
  color: #FF5456;
}

main section.row-1 {
  margin: 150px auto;
  width: 60%;
}

main section.row-1 .row-1-text p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.75;
}

main section.row-2 {
  height: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.row-2 h1 {
  font-size: 100px;
  font-family: 'Dancing Script', cursive;
  color: #EE5757;
  padding: 25px;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */